.chats {
    display: flex;
    flex-direction: column;
}

.chats--top {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 1.5rem;
    margin: 0;
    margin-inline: -1.5rem;
}

.chats--top h2 {
    margin-right: auto;
    font-size: var(--font-bigger);
}

.chats .chat-list {
    display: flex;
    flex-direction: column;
}

.chats .chat-list .contact {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.chats .chat-list .contact .dp {
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
}

.chats .chat-list .contact .dp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.chats .chat-list .contact .dp img.default-avatar {
    scale: 1.9;
}