.chats {
    display: flex;
    flex-direction: column;
}

.chats--top {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 1.5rem;
    margin: 0;
    margin-inline: -1.5rem;
}

.chats--top h2 {
    margin-right: auto;
    font-size: var(--font-bigger);
}