.explore {
    padding: 0.2rem 1.5rem;
}

.explore--head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 1rem;
}

.explore--head span {
    font-size: var(--font-small);
}

.explore--list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.explore--list h4 {
    text-align: center;
    color: rgb(147, 147, 147);
}

.explore--user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.display-picture {
    height: 4rem;
    aspect-ratio: 1;
    background-color: rgb(194, 194, 194);
    border-radius: 50%;
}

.display-name h3 {
    font-size: var(--font-normal);
}

.display-name span {
    font-size: var(--font-small);
}

.status {
    font-size: var(--font-smaller);
    background-color: #4acb4a80;
    color: #458f45;
    padding: 0.2em 0.7em;
    border-radius: 1em;
    font-weight: 400;
}