@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&display=swap');

:root {
    --font-large: 2.5rem;
    --font-bigger: 1.8rem;
    --font-big: 1.3rem;
    --font-normal: 1rem;
    --font-below-normal: 0.9rem;
    --font-small: 0.8rem;
    --font-smaller: 0.7rem;

    --color-dark: #262626;
    --color-light: #fafafa;
    --color-gray: #4e4e4e;
    --color-accent: #3b8efa;
    --color-highlight: #5da0f8;

    --maximum-width: 415px;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-inline: auto;
    max-width: var(--maximum-width);
    height: 100vh;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

section {
    padding-bottom: 6rem;
}

.container {
    padding-inline: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}
